# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
__pycache__/

# Other files and folders
.settings/
.podatki/

# Executables
*.swf
*.air
*.ipa
*.apk
*.db

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
podatki/faze.csv
podatki/nahajanja.csv
podatki/osebe.csv
podatki/naprave.csv
podatki/podjetja.csv
podatki/popravila.csv
podatki/skrbnistva.csv
