% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="columns is-gapless is-vcentered">
        <div class="column is-3">
            <div class="field-label is-normal">
                <label class="label">Vrsta izpisa</label>
            </div>
        </div>
        <div class="column is-2">
            <div class="select">
                <select name="tip_izpisa">
                    <option value='' selected disabled hidden></option>
                    <option value='lokacije'>Po lokaciji</option>
                    <option value='serviserji'>Po serviserjih</option>
                    <option value='RLP'>Naslednji RLP</option>
                    <option value='Odpisani'>Odpisani</option>
                    <option value='Odtujeni'>Odtujeni</option>
                    <option value='Nazivi'>Po nazivu</option>
                    <option value='Brez_RLP'>Brez RLP-ja</option>
                </select>
            </div>
        </div>
        <div class="column">
            <input class="button is-primary is-large" type="submit" value="Prikaži podatke"></input>
        </div>
    </div>
</form>

% if tip_izpisa:
<table class="table is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Position">Naziv</abbr></th>
        <th><abbr title="Played">Tip</abbr></th>
        <th><abbr title="Won">Datum</abbr></th>
        <th><abbr title="Drawn">Datum</abbr></th>
      </tr>
    </thead>
    <tbody>

    </tbody>    
</table>

%end

