% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Vrsta izpisa</label>
        </div>
        <div class="field-body">
            <div class="select">
                <select>
                  <option>Select dropdown</option>
                  <option>With options</option>
                </select>
              </div>
        </div>
    </div>
</form>