% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Izpisi
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="columns is-gapless is-vcentered">
        <div class="column is-3">
            <div class="field-label is-normal">
                <label class="label">Vrsta izpisa</label>
            </div>
        </div>
        <div class="column is-2">
            <div class="select">
                <select name="tip_izpisa">
                    <option value='' selected disabled hidden></option>
                    <option value='lokacije'>Po lokaciji</option>
                    <option value='serviserji'>Po serviserjih</option>
                    <option value='RLP'>Naslednji RLP</option>
                    <option value='odpisani'>Odpisani</option>
                    <option value='odtujeni'>Odtujeni</option>
                    <option value='nazivi'>Po nazivu</option>
                    <option value='brez_RLP'>Brez RLP-ja</option>
                </select>
            </div>
        </div>
        <div class="column">
            <input class="button is-primary is-large" type="submit" value="Prikaži podatke"></input>
        </div>
    </div>
</form>

% if tip_izpisa:
<table class="table is-striped is-fullwidth is-hoverable is-bordered">
    <thead>
      <tr>
        <th><abbr>Št</abbr></th>
        %for ime in stolpci:
        <th><abbr>{{ime}}</abbr></th>
        %end
      </tr>
    </thead>
    <tbody>
        %st = 1
        %for naprava in vse_naprave:
        <tr>
            <td>{{st}}</td>
            %for oznaka in stolpci:
            <td>{{naprava[oznaka]}}</td>
            %end
        </tr>
        % st += 1
        %end
    </tbody>    
</table>

%end

