% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>


<div class="table-container">
    <table class="table is-striped is-fullwidth is-hoverable is-bordered">
        <thead>
            <tr>
                <th>
                    <p class="has-text-centered">Št</p>
                </th>
                <th>
                    <p class="has-text-centered">Inventarna</p>
                </th>
                <th>
                    <p class="has-text-centered">Naziv</p>
                </th>
                <th>
                    <p class="has-text-centered">Lokacija</p>
                </th>
                <th>
                    <p class="has-text-centered">RLP / Popravilo</p>
                </th>
                <th>
                    <p class="has-text-centered">Datum vrnitve</p>
                </th>
                <th>
                    <p class="has-text-centered">Servis</p>
                </th>
                <th>
                    <p class="has-text-centered">Opombe</p>
                </th>
            </tr>
          </thead>
          <tbody>

          </tbody>
    </table>
  </div>