% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Inventarna št</label>
    </div>
    <div class="field-body has-addons">
        <p class="control"><input class="input" type="text" value=""></p>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Naziv</label>
    </div>
    <div class="field-body">
        <input class="input" type="text">
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Tip</label>
    </div>
    <div class="field-body">
        <div class="field is-horizontal">
            <div class="field is-normal"></div>
            <div class="field-body">
                <input class="input" type="text">
            </div>

            <div class="field-label is-normal">
                <label class="label">Serijska št</label>
            </div>
            <div class="field-body">
                <input class="input" type="text">
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Proizvajalec</label>
    </div>
    <div class="field-body">
        <input class="input" type="text">
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Dobavitelj</label>
    </div>
    <div class="field-body">
        <div class="field is-horizontal">
            <div class="field is-normal"></div>
            <div class="field-body">
                <input class="input" type="text">
            </div>

            <div class="field-label is-normal">
                <label class="label">Datum dobave</label>
            </div>
            <div class="select">
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="select">
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="select">
                <select>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
        </div>
    </div>
</div>


<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Garancija do</label>
    </div>
    <div class="field-body">
        <div class="select">
            <select>
                <option>01</option>
                <option>02</option>
                <option>03</option>
            </select>
        </div>
        <div class="select">
            <select>
                <option>01</option>
                <option>02</option>
                <option>03</option>
            </select>
        </div>
        <div class="select">
            <select>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
            </select>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Stroškovno mesto</label>
    </div>
    <div class="field-body">
        <div class="field is-horizontal">
            <div class="field is-normal"></div>
            <div class="field-body">
                <input class="input" type="text">
            </div>

            <div class="field-label is-normal">
                <label class="label">Lokacija</label>
            </div>
            <div class="field-body">
                <input class="input" type="text">
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Skrbnik</label>
    </div>
    <div class="field-body">
        <input class="input" type="text">
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Serviser</label>
    </div>
    <div class="field-body">
        <div class="field is-horizontal">
            <div class="field is-normal"></div>
            <div class="field-body">
                <input class="input" type="text">
            </div>

            <div class="field-label is-normal">
                <label class="label">Redni letni pregled</label>
            </div>
            <div class="select">
                <select>
                    <option>12</option>
                    <option>18</option>
                    <option>24</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="field">
    <button class="button is-primary is-large is-pulled-right">Potrdi</button>
</div>