% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Nova naprava
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Inventarna št</label>
        </div>
        <div class="field-body has-addons">
            <div class="field has-addons">
                <p class="control">
                    <a class="button is-static">
                    74600
                    </a>
                </p>
                <p class="control">
                    <input class="input" type="text" name="inventarna">
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Naziv</label>
        </div>
        <div class="field-body">
            <input class="input" type="text" name="naziv">
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Tip</label>
        </div>
        <div class="field-body">
            <div class="field is-horizontal">
                <div class="field is-normal"></div>
                <div class="field-body">
                    <input class="input" type="text" name="tip">
                </div>

                <div class="field-label is-normal">
                    <label class="label">Serijska št</label>
                </div>
                <div class="field-body">
                    <input class="input" type="text" name="serijska">
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Proizvajalec</label>
        </div>
        <div class="field-body">
            <div class="field is-horizontal">
                <div class="field is-normal"></div>
                <div class="field-body">
                    <input class="input" type="text" name="proizvajalec">
                </div>

                <div class="field-label is-normal">
                    <label class="label">Garancija</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select id="select_dan_garancija" name="dan_garancija">
                        </select>
                    </div>
                    <div class="select">
                        <select id="select_mesec_garancija" name="mesec_garancija">
                        </select>
                    </div>
                    <div class="select">
                        <select id="select_leto_garancija" name="leto_garancija">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Dobavitelj</label>
        </div>
        <div class="field-body">
            <div class="field is-horizontal">
                <div class="field is-normal"></div>
                <div class="field-body">
                    <div class="select is-fullwidth">
                        <select id="select_dobavitelj" name="dobavitelj">
                            <option value='' selected disabled hidden></option>
                            %for podjetje in podjetja:
                            <option value="{{podjetje}}">{{podjetje}}</option>
                            %end
                        </select>
                    </div>
                    <button class="button is-primary" type="button" id="dodaj_dobavitelj"><i class="far fa-plus-square fa-lg"></i></button>
                </div>

                <div class="field-label is-normal">
                    <label class="label">Dobava</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select id="select_dan_dobava" name="dan_dobava">
                        </select>
                    </div>
                    <div class="select">
                        <select id="select_mesec_dobava" name="mesec_dobava">
                        </select>
                    </div>
                    <div class="select">
                        <select id="select_leto_dobava" name="leto_dobava">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Stroškovno mesto</label>
        </div>
        <div class="field-body">
            <div class="field is-horizontal">
                <div class="field is-normal"></div>
                <div class="field-body">
                    <div class="select is-fullwidth">
                        <select id="select_stroskovno" name="stroskovno">
                            <option value='' selected disabled hidden></option>
                            %for stroskovno in stroskovna:
                            <option value="{{stroskovno}}">{{stroskovno}}</option>
                            %end
                        </select>
                    </div>
                    <button class="button is-primary" type="button" id="dodaj_stroskovno"><i class="far fa-plus-square fa-lg"></i></button>
                </div>

                <div class="field-label is-normal">
                    <label class="label">Lokacija</label>
                </div>
                <div class="field-body">
                    <div class="select">
                        <select id="select_lokacija" name="lokacija">
                            <option value='' selected disabled hidden></option>
                            %for lokacija in lokacije:
                            <option value="{{lokacija}}">{{lokacija}}</option>
                            %end
                        </select>
                    </div>
                    <button class="button is-primary" type="button" id="dodaj_lokacija"><i class="far fa-plus-square fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Skrbnik</label>
        </div>
        <div class="field-body">
            <div class="field is-horizontal">
                <div class="field is-normal"></div>
                <div class="field-body">
                    <div class="select is-fullwidth">
                        <select id="select_skrbnik" name="skrbnik">
                            <option value='' selected disabled hidden></option>
                            %for oseba in osebe:
                            <option value="{{oseba}}">{{oseba}}</option>
                            %end
                        </select>
                    </div>
                    <button class="button is-primary" type="button" id="dodaj_skrbnik"><i class="far fa-plus-square fa-lg"></i></button>
                </div>

                <div class="field-label is-normal">
                    <label class="label">Serviser</label>
                </div>
                <div class="field-body">
                    <div class="select is-fullwidth">
                        <select id="select_serviser" name="serviser">
                            <option value='' selected disabled hidden></option>
                            %for podjetje in podjetja:
                            <option value="{{podjetje}}">{{podjetje}}</option>
                            %end
                        </select>
                    </div>
                    <button class="button is-primary" type="button" id="dodaj_serviser"><i class="far fa-plus-square fa-lg"></i></button>
                </div>
                <div class="field-label is-normal">
                    <label class="label">RLP</label>
                </div>
                <div class="select">
                    <select name="RLP">
                        <option value='' selected disabled hidden></option>
                        <option>12</option>
                        <option>18</option>
                        <option>24</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <button class="button is-primary is-large is-pulled-right">Potrdi</button>
    </div>


    <div class="modal" id='obrazec_dobavitelj'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="column is-offset-3">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Naziv</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="vnos_dobavitelj"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefon</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="telefon_dobavitelj" name="telefon_dobavitelj"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="email_dobavitelj" name="email_dobavitelj"></p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-success" type="button" id='potrdi_dobavitelj'>Potrdi</button>
                        <button class="button is-danger is-pulled-right" type="button" id="preklici_dobavitelj">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id='obrazec_stroskovno'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="column is-offset-3">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Stroškovno mesto</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="vnos_stroskovno"></p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-success" type="button" id='potrdi_stroskovno'>Potrdi</button>
                        <button class="button is-danger is-pulled-right" type="button" id="preklici_stroskovno">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id='obrazec_lokacija'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="column is-offset-3">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Lokacija</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="vnos_lokacija"></p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-success" type="button" id='potrdi_lokacija'>Potrdi</button>
                        <button class="button is-danger is-pulled-right" type="button" id="preklici_lokacija">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id='obrazec_skrbnik'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="column is-offset-3">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Ime</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="vnos_skrbnik"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefon</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="telefon_skrbnik" name="telefon_skrbnik"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="email_skrbnik" name="email_skrbnik"></p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-success" type="button" id='potrdi_skrbnik'>Potrdi</button>
                        <button class="button is-danger is-pulled-right" type="button" id="preklici_skrbnik">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id='obrazec_serviser'>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="column is-offset-3">
                <div class="box">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Naziv</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="vnos_serviser"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Telefon</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="telefon_serviser" name="telefon_serviser"></p>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Email</label>
                        </div>
                        <div class="field-body has-addons">
                            <p class="control"><input class="input" type="text" id="email_serviser" name="email_serviser"></p>
                        </div>
                    </div>
                    <div>
                        <button class="button is-success" type="button" id='potrdi_serviser'>Potrdi</button>
                        <button class="button is-danger is-pulled-right" type="button" id="preklici_serviser">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    function napolni_datume(ime_podatkov){
        
        var n = new Date();
        var leto = n.getFullYear();
        var mesec = n.getMonth() + 1;
        var dan = n.getDate();

        var select_dan = document.getElementById("select_dan_" + ime_podatkov);
        var select_mesec = document.getElementById("select_mesec_" + ime_podatkov);
        var select_leto = document.getElementById("select_leto_" + ime_podatkov);
        
        for (var i = 1; i <= 12; i++)
            select_mesec.options[select_mesec.options.length] = new Option(i, i);

        for (var i = 1980; i <= leto + 10; i++)
            select_leto.options[select_leto.options.length] = new Option(i, i);

        select_mesec.selectedIndex = mesec - 1;
        select_leto.value = leto;
        posodobi_dneve(ime_podatkov);
        select_dan.selectedIndex = dan - 1;

        select_mesec.onchange = function(){
            posodobi_dneve(ime_podatkov);
        }
        
        select_leto.onchange = function(){
            posodobi_dneve(ime_podatkov);
        }
    }

    function posodobi_dneve(ime_podatkov) {
            var dan = document.getElementById("select_dan_" + ime_podatkov);
            trenutno_izbran_dan = dan.value;
            var i, L = dan.options.length - 1;
            for(i = L; i >= 0; i--) 
                dan.remove(i);
        
            var mesec = document.getElementById("select_mesec_" + ime_podatkov).value;
            var leto = document.getElementById("select_leto_" + ime_podatkov).value;

            if (mesec == 2)
                if (((leto % 4 == 0) && (leto % 100 != 0)) || (leto % 400 == 0))
                    st_dni = 29;
                else
                    st_dni = 28;
            else
                if (["2", "4", "6", "9", "11"].includes(mesec))
                    st_dni = 30;
                else
                    st_dni = 31;
        
            for (var i = 1; i <= st_dni; i++)
                dan.options[dan.options.length] = new Option(i, i);
            
            dan.selectedIndex = trenutno_izbran_dan - 1
        }

    function odpri_obrazec(ime_obrazca){
        var obrazec = document.querySelector('#obrazec_' + ime_obrazca);
        obrazec.classList.add('is-active');
    }

    function potrdi_obrazec(ime_obrazca){
        var obrazec = document.querySelector('#obrazec_' + ime_obrazca);
        var vnos = document.getElementById('vnos_' + ime_obrazca).value;
        var select = document.getElementById('select_' + ime_obrazca);
        select.options[select.options.length] = new Option(vnos, vnos);
        select.value = vnos;
        obrazec.classList.remove('is-active');
    }

    function preklici_obrazec(ime_obrazca){
        var obrazec = document.querySelector('#obrazec_' + ime_obrazca);
        obrazec.classList.remove('is-active');
    }

    function ustvari_eventlistener(ime, index){
        var prikazi = document.querySelector('#dodaj_' + ime);
        var potrdi = document.querySelector('#potrdi_' + ime);
        var preklici = document.querySelector('#preklici_' + ime);

        prikazi.addEventListener('click', function(){
            odpri_obrazec(ime);
        });

        potrdi.addEventListener('click', function(){
            potrdi_obrazec(ime);
        });

        preklici.addEventListener('click', function(){
            preklici_obrazec(ime);
        });
    }

    var tabela_dodajanj = ['dobavitelj', 'stroskovno', 'lokacija', 'skrbnik', 'serviser'];
    tabela_dodajanj.forEach(ustvari_eventlistener);

    napolni_datume('garancija');
    napolni_datume('dobava');

</script>
