% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="columns is-gapless">
        <div class="column is-3">
            <div class="field-label is-normal">
                <label class="label">Inventarna št</label>
            </div>
        </div>
        <div class="column is-2">
            <div class="field-body has-addons">
                <p class="control"><input class="input" type="text" name="inventarna"></p>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                    <label class="radio">
                        <input type="radio" name="member">
                        Odtujitev
                    </label>
                    <label class="radio">
                        <input type="radio" name="member">
                        Vrnitev
                    </label>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="column">
            <input class="button is-primary is-large" type="submit" value="Poizvej"></input>
        </div>
    </div>
</form>

%if inventarna:
<div class="column is-8">
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Naziv</label>
        </div>
        <div class="field-body">
            <label class="label">{{inventarna}}</label>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Lokacija</label>
        </div>
        <div class="field-body">
            <label class="label">{{inventarna}}</label>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Datum odtujitve</label>
        </div>
        <div class="field-body">
            <div class="select">
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="select">
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                </select>
            </div>
            <div class="select">
                <select>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
        </div>
    </div>
<div class="columns">
    <div class="column is-offset-6">
        <input class="button is-primary is-large" type="submit" value="Potrdi spremembe"></input>
    </div>
</div>
%end
