% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

<form method="POST">

    <div class="columns is-gapless is-vcentered">
        <div class="column is-3">
            <div class="field-label is-normal">
                <label class="label">Inventarna št</label>
            </div>
        </div>
        <div class="column is-2">
            <div class="field-body has-addons">
                <p class="control"><input class="input" type="text" name="inventarna"></p>
            </div>
        </div>
        <div class="column">
            <input class="button is-primary is-large" type="submit" value="Prikaži podatke"></input>
        </div>
    </div>
</form>

%if inventarna:

<div class="field is-horizontal">
    <div class="field-label">
        <label class="label">Naziv</label>
    </div>
    <div class="field-body">
        <div class="field">
            <label class="label">{{naprava.naziv}}</label>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column has-text-right is-one-fifth">
        <div class="field">
            <label class="label">Tip</label>
        </div>
        <div class="field">
            <label class="label">Serijska št</label>
        </div>
        <div class="field">
            <label class="label">Stroškovno mesto</label>
        </div>
        <div class="field">
            <label class="label">Dobavitelj</label>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.tip}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.serijska}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.stroskovno}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.dobavitelj}}</label>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth has-text-right">
        <div class="field">
            <label class="label">Garancija</label>
        </div>
        <div class="field">
            <label class="label">Lokacija</label>
        </div>
        <div class="field">
            <label class="label">Proizvajalec</label>
        </div>
        <div class="field">
            <label class="label">Skrbnik</label>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.garancija}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{lokacija}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.proizvajalec}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{skrbnik}}</label>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable is-bordered">
                <thead>
                    <tr>
                        <th>
                            <p class="has-text-centered">Datum odtujitve</p>
                        </th>
                        <th>
                            <p class="has-text-centered">Datum vrnitve</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    % for datum in odtujenosti:
                    <tr>
                        <td>{{datum.od}}</td>
                        <td>{{datum.do}}</td>
                    </tr>
                    % end
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Datum dobave</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.dobava}}</label>
            </div>
        </div>
    </div>
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Serviser</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.serviser}}</label>
            </div>
        </div>
    </div>
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Redni letni pregled</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.rlp}}</label>
            </div>
        </div>
    </div>

</div>

<div class="table-container">
    <table class="table is-striped is-fullwidth is-hoverable is-bordered">
        <thead>
            <tr>
                <th>
                    <p class="has-text-centered">Aktivacija postopka</p>
                </th>
                <th>
                    <p class="has-text-centered">RLP / Popravilo</p>
                </th>
                <th>
                    <p class="has-text-centered">Datum prevzema</p>
                </th>
                <th>
                    <p class="has-text-centered">Datum vrnitve</p>
                </th>
                <th>
                    <p class="has-text-centered">Opombe</p>
                </th>
            </tr>
        </thead>
        <tbody>
            % for popravilo in popravila:
            <tr>
                <td>{{popravilo.aktivacija}}</td>
                <td>{{popravilo.tip}}</td>
                <td>{{popravilo.sprejem}}</td>
                <td>{{popravilo.vrnitev}}</td>
                <td>{{popravilo.opis}}</td>
            </tr>
            % end
        </tbody>
    </table>
</div>

%end