% rebase('osnova.html')

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Opis naprave
            </h1>
        </div>
    </div>
</section>
<a href="/" class="button is-primary is-large">Nazaj</a>

%if napaka:
<div class="modal is-active" id='pop_up'>
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="column is-7 is-offset-3">
            <div class="box">
                <div class="content">
                    <p>
                    <strong>Ups!</strong>
                    <br>
                    {{napaka}}
                    </p>
                </div>
                <div>
                    <button class="button is-success" id='zapri'>Ok</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    var pop_up = document.querySelector('#pop_up')
    var zapri = document.querySelector('#zapri')
    zapri.addEventListener('click', function(){
        pop_up.classList.remove('is-active')
    });
</script>
%end

<form method="POST">

    <div class="columns is-gapless is-vcentered">
        <div class="column is-3">
            <div class="field-label is-normal">
                <label class="label">Inventarna št</label>
            </div>
        </div>
        <div class="column is-3">
            <div class="field-body has-addons">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                        74600
                        </a>
                    </p>
                    <p class="control">
                        <input class="input" type="text" name="inventarna", value="{{inventarna}}">
                    </p>
                </div>
            </div>
        </div>
        <div class="column ">
            <input class="button is-primary is-large" type="submit" value="Prikaži podatke"></input>
        </div>
    </div>
</form>

%if inventarna and not napaka:

<div class="field is-horizontal">
    <div class="field-label">
        <label class="label">Naziv</label>
    </div>
    <div class="field-body">
        <div class="field">
            <label class="label">{{naprava.naziv}}</label>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column has-text-right is-one-fifth">
        <div class="field">
            <label class="label">Tip</label>
        </div>
        <div class="field">
            <label class="label">Serijska št</label>
        </div>
        <div class="field">
            <label class="label">Stroškovno mesto</label>
        </div>
        <div class="field">
            <label class="label">Dobavitelj</label>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.tip}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.serijska}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.stroskovno}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.dobavitelj}}</label>
            </div>
        </div>
    </div>
    <div class="column is-one-fifth has-text-right">
        <div class="field">
            <label class="label">Garancija</label>
        </div>
        <div class="field">
            <label class="label">Lokacija</label>
        </div>
        <div class="field">
            <label class="label">Proizvajalec</label>
        </div>
        <div class="field">
            <label class="label">Skrbnik</label>
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.garancija}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{lokacija}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.proizvajalec}}</label>
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label class="label">{{skrbnik}}</label>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable is-bordered">
                <thead>
                    <tr>
                        <th>
                            <p class="has-text-centered">Datum odtujitve</p>
                        </th>
                        <th>
                            <p class="has-text-centered">Datum vrnitve</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    % for datum in odtujenosti:
                    <tr>
                        <td>{{datum.od}}</td>
                        <td>{{datum.do}}</td>
                    </tr>
                    % end
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Datum dobave</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.dobava}}</label>
            </div>
        </div>
    </div>
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Serviser</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.serviser}}</label>
            </div>
        </div>
    </div>
    <div class="column has-text-right">
        <div class="field">
            <label class="label">Redni letni pregled</label>
        </div>
    </div>
    <div class="column">
        <div class="field">
            <div class="field">
                <label class="label">{{naprava.rlp}}</label>
            </div>
        </div>
    </div>

</div>

<div class="table-container">
    <table class="table is-striped is-fullwidth is-hoverable is-bordered">
        <thead>
            <tr>
                <th>
                    <p class="has-text-centered">Aktivacija postopka</p>
                </th>
                <th>
                    <p class="has-text-centered">RLP / Popravilo</p>
                </th>
                <th>
                    <p class="has-text-centered">Datum prevzema</p>
                </th>
                <th>
                    <p class="has-text-centered">Datum vrnitve</p>
                </th>
                <th>
                    <p class="has-text-centered">Opombe</p>
                </th>
            </tr>
        </thead>
        <tbody>
            % for popravilo in popravila:
            <tr>
                <td>{{popravilo['aktivacija']}}</td>
                <td>{{popravilo['tip']}}</td>
                <td>{{popravilo['sprejem']}}</td>
                <td>{{popravilo['vrnitev']}}</td>
                <td>{{popravilo['opis']}}</td>
            </tr>
            % end
        </tbody>
    </table>
</div>

%end