% rebase('osnova.html')
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Servis naprav
            </h1>
        </div>
    </div>
</section>


<div class="buttons">
    <button class="button is-large">Nova Naprava</button>
    <button class="button is-large">Preglej Napravo</button>
    <button class="button is-large">Nova Naprava</button>
    <button class="button is-large">Nova Naprava</button>
</div>
<div class="buttons">
    <button class="button is-large">Nova Naprava</button>
    <button class="button is-large">Nova Naprava</button>
    <button class="button is-large">Nova Naprava</button>
    <button class="button is-large">Nova Naprava</button>
</div>
