% rebase('osnova.html')
<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Servis naprav
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <div class="buttons are-large">
        <a href="/nova-oprema/" class="button is-primary">Dodaj novo napravo<a>
        <a href="/opis-naprave/" class="button is-primary">Opis naprave</a>
        <a href="/izpisi/" class="button is-primary">Izpis</a>
        <a href="/sprememba-podatka/" class="button">Sprememba podatka</a>
    </div>

    <div class="buttons are-large">
        <a href="/aktivacija-postopka/" class="button is-primary">Aktiviraj postopek</a>
        <a href="/prevzem/" class="button is-primary">Prevzem</a>
        <a href="/vrnitev/" class="button is-primary">Vrnjeno</a>
        <a href="/zakljucek/" class="button is-primary">Zaključi</a>
    </div>

    <div class="buttons are-large">
        <a href="/aktivirane-naprave/" class="button is-primary">Aktivirane naprave</a>
        <a href="/na-servisu/" class="button is-primary">Na servisu</a>
        <a href="/nedokoncani/" class="button is-primary">Popravljeni nedokončani</a>
    </div>

    <div class="buttons are-large">
        <a href="/odtujen/" class="button is-primary">Odtujen</a>
        <button class="button">Postopek odpisa</button>
        <a href="/odpis/" class="button is-primary">Odpis</a>
    </div>
</div>
